#canvases {
	position: absolute;
	height: 200px;
	width: 800px;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
canvas {
	position: absolute;
	top: 0;
	left: 0; 
}

div.rounded {
	background: #eed;
	border: 10px solid #ddc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}